<% provide :title, 'Contributors' %>

<div class="d-flex align-items-center">
  <h3>Contributors</h3>
  <button class="btn btn-primary ml-3" data-toggle="modal" data-target="#addContributorModal">+ Add New</button>

  <div class="modal fade" id="addContributorModal" tabindex="-1" role="dialog" aria-labelledby="addContributorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addContributorModalLabel">Add New Contributor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_for @new_contributor, url: contributors_path, remote: true do |f| %>
            <div class="form-group">
              <%= f.label 'Avatar' %>
              <%= f.text_field :image, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :join_date %>
              <%= f.date_field :join_date, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :left_date %>
              <%= f.date_field :left_date, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :technologies %>
              <select class="multi-select" name="technologies[]" multiple="multiple">
                <% @technologies.each do |t| %>
                  <option value="<%= t[:title] %>"><%= t[:title] %></option>
                <% end %>
              </select>
            </div>
            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area :description, id: 'editor', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.submit 'Add', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Projects</th>
      <th>Technologies</th>
    </tr>
  </thead>
  <% @contributors.each do |c| %>
    <tr>
      <td><%= c.name %></td>
      <td><%= c.projects_count %></td>
      <td><%= c.technologies.size %></td>
      <td><%= link_to raw("<i class='fa fa-edit'></i>"), edit_contributor_path(c), remote: true, class: 'text-info' %></td>
      <td><%= link_to raw("<i class='fa fa-trash'></i>"), contributor_path(c), method: :delete, class: 'text-danger' %></td>
    </tr>
  <% end %>
</table>

<script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
<script>
  $('.multi-select').select2({
    theme: "bootstrap",
    tags: true
  })
  
  ClassicEditor
    .create( document.querySelector( '#editor' ) )
    .catch( error => {
        console.log( error )
    } )
</script>
