ele = $('tbody tr:contains("<%= @technology.title %>")')

ele.find('td').addClass('hidden')
ele.append(' \
  <td id="editor-<%= @technology.id %>"><%= form_for @technology, url: technology_path(@technology) do |f| %> \
    <%= f.text_field :title, class: "form-control" %> \
    <%= f.submit "Update", class: 'btn btn-primary' %> \
    <button class="btn btn-danger" type="button" onclick="editorCancel(<%= @technology.id %>)">Cancel</button></td> \
  <% end %>
')