<% provide :title, 'Contributors' %>

<div class="page-title page-title-dark page-title-normal" style="background-image: url(https://techno-soft.com/wp-content/uploads/2018/06/bg-ts-site.jpg);">
  <div class="inner">
    <div class="breadcrumbs"><!-- Breadcrumb NavXT 6.2.1 -->
      <span property="itemListElement" typeof="ListItem">
        <a property="item" typeof="WebPage" title="Go to Technosoft Solutions." href="<%= root_url %>" class="home">
          <span property="name">Home</span>
        </a>
        <meta property="position" content="1">
      </span>
      <span class="separator background-primary"></span>
      <span property="itemListElement" typeof="ListItem">
        <span property="name">Contributors</span>
        <meta property="position" content="2">
      </span>
    </div>
    <h1>Contributors</h1>
  </div>
</div>

<div class="container my-5">
  <table class="table">
    <tbody>
      <% @contributors.each do |c| %>
        <tr>
          <td>
            <%= link_to raw(image_tag c.image.url, alt: 'Profile pic', width: 50, height: 50), contributor_path(c) %>
          </td>
          <td>
            <h6>Name</h6>
            <%= link_to c.name, contributor_path(c) %>
          </td>
          <td>
            <h6>ID</h6>
            <%= link_to c.id, contributor_path(c) %>
          </td>
          <td>
            <h6>Email</h6>
            <%= c.email && c.email.length > 0 ? link_to(c.email, contributor_path(c)) : 'N/A' %>
          </td>
          <td>
            <h6>Projects</h6>
            <%= c.projects.size %>
          </td>
          <td>
            <h6>Technologies</h6>
            <%= c.technologies.size %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
